.content-wrapper {
  padding: 70px;
}

#bodyhead {
  text-align: center;
  text-transform: uppercase;
  color: #4caf50;
}

#bodypara {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

#bodypara1 {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008cba;
}
